.header{
  color: MediumAquamarine;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.logo{
  color:MediumAquamarine;
}

.nav{
  display:inline-block;


}

.container{
  display: flex;
}
